@model FAST_FOOD.Models.MonAn

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h3>Bạn Có chắc xóa món ăn không?</h3>
<div>
    <h4>Món Ăn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên Danh Mục</dt>
        <dd>@(Model.DanhMuc != null ? Model.DanhMuc.TenDanhMuc : "Không có danh mục")</dd>

        <dt>Tên Món</dt>
        <dd>@Model.TenMon</dd>

        <dt>Giá</dt>
        <dd>@String.Format("{0:N0} đ", Model.Gia)</dd>

        <dt>Hình Ảnh</dt>
        <dd>
            <img src="@Url.Content(string.IsNullOrEmpty(Model.HinhAnh) ? "~/Images/noimage.png" : Model.HinhAnh)"
                 alt="@Model.TenMon" width="200" class="img-thumbnail" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay trở lại", "Index" , null , new {@class="btn btn-secondary"})
        </div>
    }
</div>
