@model FAST_FOOD.Models.MonAn

@{
    ViewBag.Title = "Chi Tiết Món Ăn";
}

<h2>Chi Tiết Món Ăn</h2>

<div>
    <h4>@Model.TenMon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên Danh Mục</dt>
        <dd>@(Model.DanhMuc != null ? Model.DanhMuc.TenDanhMuc : "Không có danh mục")</dd>

        <dt>Tên Món</dt>
        <dd>@Model.TenMon</dd>

        <dt>Giá</dt>
        <dd>@String.Format("{0:N0} đ", Model.Gia)</dd>

        <dt>Hình Ảnh</dt>
        <dd>
            <img src="@Url.Content(string.IsNullOrEmpty(Model.HinhAnh) ? "~/Images/noimage.png" : Model.HinhAnh)"
                 alt="@Model.TenMon" width="200" class="img-thumbnail" />
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MonAnId }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
