@model FAST_FOOD.Models.MonAn

@{
    ViewBag.Title = "Chỉnh sửa";
}

<h2>Chỉnh sửa món ăn </h2>


@using (Html.BeginForm("Chỉnh Sửa", "MonAns", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MonAnId)
         @Html.HiddenFor(model => model.HinhAnh)

        <div class="form-group">
            @Html.LabelFor(model => model.TenMon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenMon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenMon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình Ảnh Hiện Tại</label>
            <div class="col-md-10">
                <img src="@Url.Content(string.IsNullOrEmpty(Model.HinhAnh) ? "~/Images/noimage.png" : Model.HinhAnh)"
                     alt="Hình Ảnh Món Ăn" width="150" />


            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Chọn Ảnh Mới</label>
            <div class="col-md-10">
                <input type="file" name="HinhAnhFile" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DanhMucId, "DanhMucId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DanhMucId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DanhMucId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về", "Index" , new {@class="btn btn-danger text-white"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
