@model FAST_FOOD.Models.HoaDon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonHang.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHang.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan.TenHinhThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan.TenHinhThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
